/* reset & 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  background-color: #ffffff;
}

.login-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* 상단 헤더 영역 */
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e8eb;
}

.login-logo {
  width: 180px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.signup-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f0f2f5;
  color: #141414;
  cursor: pointer;
  font-size: 13px;
  margin-left: auto;
}

/* 로그인 박스 */
.login-box {
  width: 100%;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff;
}

/* 로그인 타이틀 */
.login-title {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* 폼 영역 */
.login-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.label {
  margin: 0.5rem 0 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.input {
  padding: 0.8rem;
  font-size: 0.95rem;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  background-color: #f0f2f5;
  color: #3d4d5c;

  border: 1px solid #f0f2f5;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

/* 로그인 버튼 */
.login-button {
  background-color: #4d77ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: 600;
}

/* 회원가입/비밀번호 찾기 */
.bottom-links {
  text-decoration: none;
  text-align: center;
  margin-top: 1.5rem;
}

.help-link {
  color: #000000;
  font-size: 0.9rem;
}

.success-message {
  text-align: center;
}

.error-message {
  font-size: 14px;
  margin: 10px 0;
}

/* 임시 로그인 버튼 (회색 스타일) */
.temp-login-button {
  background-color: #f9f9f9;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: 600;
}

.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.toggle-password-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-75%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
}
