.post-card-content {
  line-height: 1.5;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: pre-wrap;
}

.post-card-content.clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines, 2);
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: normal; /* clamp 안정화 */
}
