.edit-title-input {
    margin: 0;
    font-size: 14px;
    padding: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f8fbfd;
    outline: none;
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .edit-title-input:focus {
    border: 1px solid #4D77FF;
    background-color: #fff;
  }
  

  .edit-content-textarea {
    margin: 0;
    padding: 16px;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    min-height: 280px;
    resize: vertical;
    background-color: #f8fbfd;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  .edit-content-textarea:focus {
    border: 1px solid #4D77FF;
    background-color: #fff;
  }
  
  .button-common {
    background-color: #4D77FF;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .button-common:hover {
    background-color: #5A95FF;
  }
  
  /* 회색 버튼 (취소용) */
  .button-gray {
    background-color: #ccc;
    color: #333;
  }
  
  .button-gray:hover {
    background-color: #b0b0b0;
  }
  
  /* 버튼 그룹 정렬 */
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  