.post-item {
    background-color: #F0F2F5;
    padding: 13px 20px ;
    border-radius: 9999px ; 
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    border: none ;    
    margin-bottom: 13px;  
  }
  
  .post-left {
    display: flex;
    align-items: center;
  }
  
  .post-icon {
    font-size: 22px;
    margin-right: 20px;
    background-color: #F0F2F5 ;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px; 
  }
  

  .post-texts {
    display: flex;
    flex-direction: column;
  }
  
  .post-title {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 500;
  }
  
  .post-meta {
    font-size: 13px;
    color: #555;
  }
  
  .post-actions {
    display: flex;
    gap: 10px;
    min-width: 160px;
    justify-content: flex-end;
  }
