  /* 메인 컨테이너 */
  .signup-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  /* 상단 헤더 영역 */
  .signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  
  /* 로고 영역 위치 */
  .signup-logo {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  
  .signup-logo img {
    width: 130px;
    height: 50px;
  }
  
  .signup-form-wrapper {
    max-width: 400px;
    margin: 120px auto 50px ;
    padding: 0 20px;
  }
  
  .signup-box {
    width: 130%;
    max-width: 600px;
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #D1DBE8;
    border-radius: 8px;
    transform: translateX(-50px)
  }

  .signup-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .signup-info {
    text-align: center;
    font-weight: 500;
    color: #000000;
    margin-bottom: 2rem;
    white-space: nowrap; 
    transform: translateX(-70px); 
  }
  
  .warning-icon {
    vertical-align: middle; 
    margin-right: 8px; 
    width: 20px; 
    height: auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #F0F2F5;  
    color: #3D4D5C;

    border: 1px solid #F0F2F5;       
    border-radius: 8px;
    box-shadow: none;           
    outline: none;                
    appearance: none;             
    -webkit-appearance: none;  
  }

  .year-select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #F0F2F5; 
    color: #3D4D5C;
  
    border: 1px solid #F0F2F5; 
    border-radius: 8px;       
    box-shadow: none;
    outline: none;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
  }
  
  
  .form-group input::placeholder {
    color: #3D4D5C; 
  }
  
  .signup-submit {
    width: 100%;
    padding: 12px 0;
    background-color: #4D77FF;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1.5rem;
  }
  
  .check-message {
    font-size: 13px;
    margin-top: 4px;
    color: #666;
  } 