/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base */
html,
body,
#root {
  height: 100%;
  background-color: #ffffff;
}

body {
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #111;
}

/* layout */
.main-content {
  padding-top: 120px; /* 헤더 고정 높이 */
}
