* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  background-color: #ffffff;
  line-height: 1.5;
  color: #111;
}

.main-content {
  padding-top: 120px;
}

.App {
  text-align: center;
}

html, body, #root {
  background-color: #ffffff;
  height: 100%;
}
